{% load static %}

<!Doctype html>
<html>
  <head>
    <title>Word counter</title>
    <link rel="stylesheet" href="{% static 'wordcounter/index.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'wordcounter/index.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h2 class="row"><span id = "main_heading">Word Counter</span></h2>
      <div class="row">
        <div class="col-md-8">
            <textarea placeholder="Start typing, or copy and paste your document here.." rows="10"></textarea>
            <button class="btn btn-primary">Count</button>
        </div>
        <div class="card col-md-4">
          <div class="card-header">
            <h4 class="heading">Counts</h4>
          </div>
          <div class="card-body">
            <h6 class="heading">Total words counts : <span class = "total_word">???</span></h6>
            <h6 class="heading">Total character counts : <span class = "total_character">???</span></h6>
            <h6 class="heading">Most frequent words : <span class = "most_frequent">???</span></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
