.heading {
  /* display: block; */
  text-align: center;
  justify-content: center;
  margin-bottom:10px;
}
/* .mainheading{
  text-align: center;
  justify-content: center;
  margin-bottom:10px;
} */


textarea {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  display: block;
  margin-left: 47%;
  margin-right: auto;
  margin-top : 5px;
  margin-bottom : 5px;
}
