.heading {
  /* display: block; */
  text-align: center;
  justify-content: center;
  margin-bottom:10px;
}
#main_heading{
  animation-name: move 3s;
    -webkit-animation: move 3s;
    -webkit-animation-iteration-count: infinite;

}
@-webkit-keyframes move {
  from {
    margin-right: 0%;
    width: 300%;
  }

  to {
    margin-right: 100%;
    width: 100%;
  }
}

/* @keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */

textarea {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn{
  display: block;
  margin-left: 47%;
  margin-right: auto;
  margin-top : 5px;
  margin-bottom : 5px;
}
